*{
    font-family: sans;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0%;
    padding: 0;
}

@font-face {
    font-family: sans;
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: sans-italic;
    src: url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf');
}

#desktop{
    height: 100%;
}

.desktop-image{
    height: 28%;
    width: 100%;
}

.desktop-image{
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

}

.dark-mode-desktop{
    background-image: url(./images/bg-desktop-dark.jpg);
}

.mobile-image{
    background-image: url(./images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28%;
    display: block;


}

.dark-mode-mobile{
    background-image: url(./images/bg-mobile-dark.jpg);
}

.desktop-image-bottom{
    height: 72%;
    background-color: hsl(0, 0%, 100%);
}

.dark-mode-bottom{
    background-color: hsl(235, 21%, 11%);
}

#container{
    width:85% ;
    height: 100%;
    position: absolute;
    top: 1%;
    bottom: 15%;
    left: 0%;
    right: 0%;
    margin: 0px auto;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > div{
    border: none;
    cursor: pointer;
}

.mode-button{
    background-image: url(./images/icon-moon.svg);
    height: 26px;
    width: 26px;
}

.dark-mode-button{
    background-image: url(./images/icon-sun.svg);
    height: 26px;
    width: 26px;
}

h1{
    font-size: 2.2rem;
    margin: 2.2rem 0rem;
    color: white;
}

#container input{
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 85%;
    outline: none;
    border: none;
}

input::placeholder{
    color: rgb(144, 144, 144);
}

.input-content{
    padding: 0.45rem 1.2rem;
    /* border: 1px solid; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0px 10px 20px hsla(0, 0% ,10%, 0.2);
}

.dark-input-content{
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 10px 10px hsla(0, 0%, 0%, 0.2);
}

.dark-input-content > input{
    background-color: hsl(235, 24%, 19%);
    color: white;
}



.input-content::before{
    box-sizing: border-box;
    content: '';
    /* z-index: 2; */
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 0.5rem; */
    /* padding: 6px 14px; */
    border-radius: 24px;
    border: 2px solid gainsboro;
}

.dark-input-content::before{
    border-color: hsl(234, 11%, 52%);
}

.add-task{
    background: none;
    border: none;
    background-color: hsl(226, 100%, 67%);
    /* padding: 12px; */
    border-radius: 24px;
    height: 30px;
    width: 30px;
    text-align: center;

}

.dark-input-content .add-task:hover{
    background-color: #0342b6;
}

@keyframes flow {
    0%{
        margin-top: 1rem;
    }
    100%{
        margin-top: 0rem;
    }
}

.add-task:hover{
    background-color: black;
}

.add-task > img{
    height: 70%;
    width: 70%;
}


.todo-list{
    height: 45%;
    margin-top: 1rem;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: auto;
    padding-top: 0rem;
    scrollbar-width:none;

    /* overscroll-behavior:; */
    box-shadow: 0px 55px 50px hsla(0, 0%, 40%, 0.2);
}

.dark-todo-list{
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 55px 50px hsla(0, 0%, 0%, 0.2);
    color: white;
}

.dark-todo-list li{
    border-color: hsl(233, 14%, 35%);

}

.dark-todo-list .check-btn{
    border-color: hsl(234, 11%, 52%);
}

ul{
    margin: 0;
    padding: 0%;
    list-style-type:none;
}

li{
    /* border-top-right-radius: 12px;
    border-top-left-radius: 12px; */
    list-style: none;
    border-bottom: 1px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    font-size: 1.2rem;
    margin-top: 0%;
    animation: flow .5s ease-in-out;
}




.check-btn{
    box-sizing: border-box;
    border: 2px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    transition: border .1s ease-in-out,
    background-image .5s ease-in-out;
    cursor: pointer;
}

.uncheck{
    display: none;
}

.check-btn:hover{
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border-radius: 24px;
}

.dark-todo-list .check-btn:hover{
    background: linear-gradient(hsl(237, 14%, 26%), hsl(237, 14%, 26%)) padding-box,
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}



.check-btn > img{
    height: 12px;
    width: 12px;
}

.task-text{
    /* border: 1px solid; */
    width: 80%;
    margin: 0% 1rem;
}





.del-btn{

    background: none;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}



.del-btn img{
    height: 14px;
    width: 14px;
}

.task-completed > .check-btn{
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: none;
}

.task-completed > .check-btn > .check{
    display: block;
}



.task-completed{
    background-color: hsl(0, 0%, 98%);
}

.dark-todo-list .task-completed{
    background-color: hsl(235, 24%, 16%);
}

.dark-todo-list .task-completed .check-btn{
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: none;
}

.task-completed > .task-text{
    text-decoration: line-through;
    color: rgb(144, 144, 144);

}

.navigation{
    position: relative;
    padding: 0.1rem 1rem;
    border-top: 1px solid gainsboro;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;

}

.dark-mode-navigation{
    background-color: hsl(235, 24%, 19%);
    color: white;
    border-color: hsl(233, 14%, 35%);
}




#count{
    color: grey;
    font-size: 0.9rem;
    width: max-content;
}

.filter{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 0.8rem;
    border-radius: 5px;
    gap: 1rem;
    background-color: white;
    box-shadow: 0px 12px 20px hsla(0, 0%, 40%, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-navigation .filter{
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 12px 20px hsla(0, 0%, 0%, 0.2);
}

.filter  > button{
    background: none;
    border: none;
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
}

.clear-completed{
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 0.9rem;
    width: max-content;
}

.clear-completed:hover{
    color: hsl(235, 19%, 35%);
}

.all, .active, .completed{
    color: grey;
}

.dark-mode-navigation > .all, .active, .completed{
    color: hsl(234, 11%, 52%);
}

.view-hidden:hover{
    color: hsl(235, 19%, 35%);
}

.dark-mode-navigation .view-hidden:hover{
    color: hsl(236, 33%, 92%);
}

.view-visible{
    color: hsl(220, 98%, 61%);
}

.empty{
    display: none;
    text-align: center;
    color: gray;
    font-family: sans-italic;
    margin-top:5rem ;
    font-size: 1.5rem;
    animation: flow-down .2s ease;
}

@keyframes flow-down{
    0%{
        margin-top: 4rem;
    }
    100%{
        margin-top: 5rem;
    }
}


@media (min-width: 500px) {
    #container{
        width: 80%;
    }

    .desktop-img{
        display: none;
    }

    .mobile-img{
        display: block;
    }
    .todo-list{
        height: 45%;
    }

    .del-btn{
        visibility: hidden;
    }

    li:hover .del-btn{
        visibility: visible;
    }


    .check-btn{
        height: 24px;
        width: 24px;
    }

    .input-content::before{
        height: 24px;
        width: 24px;
    }
}


@media (min-width: 900px) {

    .desktop-image{
        display: block;
    }

    .mobile-image{
        display: none;
    }
    #container{
        width: 60%;
    }

    .clear-completed{
        width: 30%;
    }

    .todo-list{
        height: 55%;
    }

    .filter{
        position: static;
        gap: 0;
        box-shadow: 0px 0px;
    }

    .dark-mode-navigation .filter{
        box-shadow: 0px 0px;
    }

    #count{
        width: 30%;
    }
}

@media (min-width: 1100px) {
    #container{
        width: 50%;
    }
}

@media (min-width: 1300px) {
    #container{
        width: 550px;
    }
}
